.regular-style{
  border-radius: 10px;
  font-size: 18px;
  border: none;
  padding: 7px 15px;
  color: blue;
}

.input-error{
  border: 1px solid rgb(255, 0, 0);
  color: rgb(255, 0, 0);
  background: rgb(212, 103, 103);
  border-radius: 10px;
  font-size: 18px;
  padding: 7px 15px;
}

.input-error::placeholder{
  color: rgb(0, 0, 0);
}
